fastAPI
pytest
uvicorn
cassandra-driver
python-dotenv
pytest-cov
pylint
black
pika
amadeus
ariadne
pytest-asyncio
pytest-integration
pytest-envvars
httpx
asyncio
argon2-cffi
python-jose[cryptography]
logging-test-case
